<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ country.name.common }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ country.name.common }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-note slot="end">{{ country.name.official }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Common name</ion-label>
      <ion-note slot="end">{{ country.name.common }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Area</ion-label>
      <ion-note slot="end">{{ country.area }} km<sup>2</sup></ion-note>
    </ion-item>
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-note slot="end">{{ country.cca2 }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
